APP_PORT=8000

DB_USER=actividad3_user
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432
DB_NAME=actividad3

POSTGRES_USER=actividad3_user
POSTGRES_PASSWORD=
POSTGRES_DB=actividad3

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
